.background-nuts {

    background-color: rgba(176, 127, 54, 0.337);
   
   }
   
   
  

 
  

  .sticky {
    position: -webkit-sticky ; /* Safari */
    position: sticky !important;
    top: 0;
  }